DEBUG=true
DB_DSN="mysql:host=mysql;dbname=feldspar;charset=utf8mb4"
DB_USERNAME=feldspar
DB_PASSWORD=password
MAIL_DSN="smtp://mailhog:1025"
MAIL_SYSTEM_EMAIL=test@example.com
MAIL_SYSTEM_NAME="feldspar mailer"
REDIS_HOST=redis
REDIS_PORT=6379
