DEBUG=true
DB_DSN="mysql:host=mysql;dbname=feldspar;charset=utf8mb4"
DB_USERNAME=feldspar
DB_PASSWORD=password
JWT_SECRET=secret
MAIL_DSN="smtp://mailhog:1025"
MAIL_SYSTEM_EMAIL=neniu@volontulo.net
MAIL_SYSTEM_NAME="Volontulo"
OAUTH2_FACEBOOK_CLIENT_ID="<OAUTH_FACEBOOK_CLIENT_ID>"
OAUTH2_FACEBOOK_CLIENT_SECRET="<OAUTH2_FACEBOOK_CLIENT_SECRET>"
OAUTH2_GOOGLE_CLIENT_ID="<OAUTH_GOOGLE_CLIENT_ID>"
OAUTH2_GOOGLE_CLIENT_SECRET="<OAUTH_GOOGLE_CLIENT_SECRET>"
REDIS_HOST=redis
REDIS_PORT=6379
