includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    
parameters:
    level: 8
    paths:
        - .
    excludePaths:
        analyse:
            - vendor
    strictRules:
        allRules: false
        booleansInConditions: false
    ignoreErrors:
        - '#no value type specified in iterable type array#'
