<!doctype html>
<html lang="en">

<head>
  {% block head %}
  {% include "layouts/common/head.html" %}
  {% endblock %}
</head>

<body>
  {% block header %}
  {% include "layouts/common/header.html" %}
  {% endblock %}

  <main>
    <div class="container">
      <div class="content">
        {% block flashmessages %}
        {% include "layouts/common/flash-messages.html" %}
        {% endblock %}

        {% block content %}
        {{ page.content | raw }}
        {% endblock %}
      </div>
    </div>
  </main>

  {% block footer %}
  {% include "layouts/common/footer.html" %}
  {% endblock %}
</body>

</html>