<div class="narrow-container centered">
  <h1>Ensaluti</h1>

  <p>Ĉu vi ne havas la konton?
    <a href="/registrigxi" title="Registriĝi">Registriĝu</a>.
  </p>

  {% include 'layouts/common/error-message.html' with {'errorMessage': errors.error} %}

  <form action="/ensaluti" method="post">
    <div class="field">
      <label class="label">Retpoŝtadreso</label>
      <div class="control">
        <input class="input{% if errors.email %} is-danger{% endif %}" type="email" name="email" value="{{ email }}" placeholder="nomo@ekzemple.com"">
        {% if errors.email %}
        <p class="help is-danger">{{ errors.email }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field">
      <label class="label">Pasvorto</label>
      <div class="control">
        <input class="input{% if errors.password %} is-danger{% endif %}" type="password" name="password"
          value="{{ password }}" placeholder="Pasvorto">
        {% if errors.password %}
        <p class="help is-danger">{{ errors.password }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-link is-fullwidth" type="submit">
          Sendi
        </button>
      </div>
    </div>
    <div class="field">
      <div class="control has-text-centered">
        <p><a href="/pasvorto/forgesita" title="Forgesita pasvorto">
            Mi forgesis la pasvorton
          </a></p>
      </div>
    </div>
  </form>
  <p class="divider">aŭ</p>
  <p>{% include 'components/oauth2button.html' with {'provider': 'Facebook', 'text': 'Ensaluti per Facebook', 'href': '/ensaluti/facebook'} %}</p>
  <p>{% include 'components/oauth2button.html' with {'provider': 'Google', 'text': 'Ensaluti per Google', 'href': '/ensaluti/google'} %}</p>
</div>