<div class="narrow-centered">
    <h1>Forgot Password</h1>
  
    <p>Enter your email address below and a one-time use passcode
      will be sent to you.</p>
    {% if error %}
    <div class="message is-danger">
      <div class="message-body">
        <div>{{error}}</div>
      </div>
    </div>
    {%endif%}
  
    <form action="/forgot-password" method="POST">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input{% if errors %} is-danger{% endif %}" type="email" name="email" value="{{email}}">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
    </form>
  </div>