---
title: Cookies Statement
description: Understand why we use cookies and your ability to refuse them.
---
<h1>Cookies Statement</h1>
<p><em>Last updated January 5, 2025</em></p>

<p>Cookies are small files that are stored on your computer or mobile device
  when you visit a website. They are widely used by website owners to
  customize their website according to your preferences and to collect
  reporting information. This page explains why we use cookies on this
  website and your ability to refuse them. Should our use of cookies on this
  site change, we will update this page to reflect those changes.</p>

<h2>Why We Use Cookies</h2>
<p>Some cookies are required for technical reasons in order for this website
  to operate. For example, we may store cookies to remember your preferences.
</p>

<p>We also use third-party cookies on this website. Third-party cookies are
  set by parties other than us, the website owner. They allow us to offer
  third-party features or functionality on the website (e.g. advertising,
  interactive content, and analytics). Specifically, we may use Google
  Analytics to help us understand how this website is used and reCaptcha to
  discourage spam. The parties that set third-party cookies can recognize
  your computer when it visits this website and also when it visits certain
  other websites.</p>

<h2>Refusing Cookies</h2>
<p>You may refuse cookies and still use our website though some functionality
  may be restricted. You can configure your browser to not accept certain
  cookies, require your consent before accepting new cookies, or block
  cookies altogether by changing the appropriate privacy settings in your
  browser. As the means by which you can refuse cookies through your web
  browser controls vary from browser to browser, you should visit your
  browser&rsquo;s help menu for more information.</p>