---
title: Cookies Statement
description: Understand why we use cookies and your ability to refuse them.
---
<h1>Deklaro pri kuketoj</h1>
<p><em>ĝisdatigita la 25-an de januaro 2025</em></p>

<p>Kuketoj estas malgrandaj dosieroj, kiuj estas konservitaj en via komputilo
  aŭ portebla aparato kiam vi vizitas retejon. Ofte uzas ilin retejestroj por
  adapti la retejon laŭ via prefero kaj por kolekti raportdatumojn. Ĉi tiu paĝo
  klarigas, kiel ĉi tiu retejo uzas kuketojn, kaj ke vi povas rifuzi ilin. 
  Se ni ŝanĝos kiel ni uzas kuketojn en la retejo, ni ĝisdatigos ĉi tiun paĝon.</p>

<h2>Kial ni uzas kuketojn</h2>
  <p>Kelkaj kuketoj estas necesaj pro teknikaj kialoj por la bona funkciado de ĉi tiu
  retejo. Ekzemple, ni konservas kuketojn por rememori vian ensalutecon.</p>

  <p>Triapartiaj kuketoj estas konservitaj de aliuloj krom ni, la retejestro.
  Ili ebligas, ke ni disponigas triapartian funkciadon en la retejo (ekz. reklamoj,
  dialoga enhavo, kaj analizado). 
  <!-- 
  Precize, ni uzas Google Analytics por kompreni, kiel oni uzas la retejon,
  kaj reCaptcha por malhelpi trudmesaojn.
  -->
  La partioj, kiuj konservas ĉi tiujn triapartiajn kuketojn, povas rekoni vian
  komputilon kiam vi vizitas ĉi tiun retejon kaj aliajn specifajn retejojn.</p>

<h2>Rifuzi kuketojn</h2>
  <p>Vi povas rifuzi kuketojn kaj ankoraŭ uzi la retejon, tamen kelkaj funkcioj
  povus esti neuzebla. Vi povas agordi vian etumilon neakcepti specifajn kuketojn,
  peti vian aprobon antaŭ ĝi akceptas novajn kuketojn, aŭ tute bloki kuketojn,
  ŝanĝante la koncernajn privatecajn agordojn de via retumilo. Ĉar tiel, kiel
  oni rifuzas kuketojn pere de retumilaj agordoj, malsimilas inter iu retumilo kaj
  alia, vi vizitu la helpmenuon de via retumilo por pli da informo.</p>