<div class="narrow-container">
  <h1>Log In</h1>

  {% include "layouts/common/error-message.html" %}

  <form action="/login" method="post">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input{% if errors.email %} is-danger{% endif %}"
          type="email" name="email" value="{{email}}">
        {% if errors.email %}
        <p class="help is-danger">{{ errors.email }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input{% if errors.password %} is-danger{% endif %}"
          type="password" name="password" value="{{password}}">
        {% if errors.password %}
        <p class="help is-danger">{{ errors.password }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field">
      <div class="control has-text-right">
        <p><a href="/forgot-password" title="Forgot Password">
            Forgot Password
          </a></p>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-link is-fullwidth" type="submit">
          Submit
        </button>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <p>Don't have an account?
          <a href="/signup" title="Sign up">Sign up</a>.</p>
      </div>
    </div>
  </form>
</div>