<div class="narrow-container centered">
  <h1>Change Password</h1>

  <p>Enter the one-time use passcode sent to you via email and reset your
    password.</p>

  <form action="/password/otp" method="post">
    <input type="hidden" name="email" value="{{ email }}">
    <div class="field">
      <label class="label">OTP Passcode</label>
      <div class="control">
        <input class="input{% if errors.otpToken %} is-danger{% endif %}"
          name="otpToken" value="{{ otpToken }}">
        {% if errors.otpToken %}
        <p class="help is-danger">{{ errors.otpToken }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field">
      <label class="label">New Password</label>
      <div class="control">
        <input class="input{% if errors.newPassword %} is-danger{% endif %}"
          type="password" name="newPassword" value="{{ newPassword }}">
        {% if errors.newPassword %}
        <p class="help is-danger">{{ errors.newPassword }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field">
      <label class="label">Confirm New Password</label>
      <div class="control">
        <input class="input{% if errors.confirmPassword %} is-danger{% endif %}"
          type="password" name="confirmPassword" value="{{ confirmPassword }}">
        {% if errors.confirmPassword %}
        <p class="help is-danger">{{ errors.confirmPassword }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-link is-fullwidth" type="submit">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>