---
title: Politiko pri privateco
description: Understand how your personal information is managed, shared, and kept confidential.
---
<h1>Politiko pri privateco</h1>
<p><em>ĝisdatigita la 25-an de januaro 2025</em></p>

<p>Ĉi tiu Politiko pri privateco koncernas la informojn kolektitajn per la
  retejo ĉe volontulo.net. La politiko klarigas kiujn informojn ni kolektas
  kaj kiel ni uzas ilin. Bonvolu zorge legi ĉi tiun dokumenton. Se vi havas
  demandojn aŭ zorgojn pri nia traktado de viaj personaj informoj, bonvolu
  <a href="/kontaki" title="Kontakti">kontakti nin</a>.
</p>

<h2>Kolektitaj informoj</h2>
<p>Ni kolektas person-identigeblajn informojn, kiujn vi donas al ni, kiam vi
  registriĝas ĉe ĉi tiu retejo, petas informojn pri nia evento, aŭ alie
  kontaktas nin. La informoj, kiujn ni kolektas, dependas je via interago kun
  ni kaj eble konsistas el:</p>

<ul>
  <li>Persona nomo kaj familia nomo</li>
  <li>Retpoŝta adreso</li>
  <li>Aliaj similaj informoj</li>
</ul>

<p>Ni ankaŭ aŭtomate kolektas kelkajn datumojn kiam vi uzas ĉi tiun retejon.
  Tiuj informoj ne malkaŝas vian identecon sed povas konsisti el datumoj pri
  via aparato kaj uzado (ekz. via IP-adreso), kapabloj de via retumilo kaj
  aparato, lingva prefero, kaj loko. ĉi tiuj informoj estas uzataj en la
  funkciado de ĉi tiu retejo kaj por interna analizado.</p>

<p>Ni ne petas informon de junuloj aŭ servas junulojn malpli ol 18-jaraĝaj.
</p>

<h2>Malkaŝi informojn</h2>
<p>Ni malkaŝas viajn informojn nur en la jenaj kazoj:</p>

<ul>
  <li><strong>Observi leĝojn.</strong> Ni povas malkaŝi viajn informojn kiam
    ni estas devigitaj por observi koncernajn leĝojn, juran ordonon, aŭ leĝan
    proceson.</li>
  <li><strong>Gravaj interesoj kaj leĝaj rajtoj.</strong> Ni povas malkaŝi
    viajn informojn laŭnecese por enketi, malhelpi, a kontraŭagi malobeon de
    niaj regularoj, kontraŭleĝajn agadojn kaj eblajn minacojn kontraŭ la
    sekureco de iu ajn, aŭ kiel atesto en proceso, en kiu ni povas esti
    implikitaj.</li>
  <li><strong>Ofertantoj de triapartiaj servoj.</strong> Ni povas malkaŝi
    viajn informojn al tiuj triapartioj, kiuj servas nin kaj bezonas scii
    viajn informojn por fari sian laboron, ekzemple datuma analizado, livero
    de retpoŝto, kaj gastigaj servoj. Ni ne kunhavigas, vendas, aŭ
    interŝanĝas viajn informojn por la promociaj celoj de triapartioj.</li>
  <li><strong>Kiam vi konsentas.</strong> Ni povas malkaŝi viajn personajn
    informojn por ajna celo kiam vi konsentas.</li>
</ul>

<h2>Kuketoj</h2>
<p>Ni povas uzi kuketojn aŭ similan teknologion por akiri aŭ konservi
  informon. Pli da informo pri tiel, kiel ni uzas tiajn teknologiojn, estas
  specifita en nia <a href="kuketoj" title="Deklaro pri kuketoj">Deklaro pri
    kuketoj</a>.</p>

<h2>Traktado de datumo</h2>
<p>Niaj gastigaj komputiloj estas en Usono. Se vi aliras ĉi tiun retejon
  ekstere de Usono, bonvolu scii, ke viaj informoj povas esti alsenditaj,
  konservitaj, kaj traktitaj de ni en niaj instalaĵoj kaj de tiuj
  triapartioj, al kiuj ni malkaŝas viajn personajn informojn.</p>

<p>Ni nur traktas viajn personajn informojn ĝis longe kiel necese por la
  priskribitaj celoj en ĉi tiu regularo pri privateco, krom se leĝo postulas
  pli longan tempon. Kiam ni ne plu havas leĝan bezonon trakti viajn personajn
  informojn, ni aŭ forigos ĝin aŭ anonimigos ĝin.</p>

<h2>Triapartiaj reteoj</h2>
<p>Ĉi tiu retejo povas prezenti ligilojn al aliaj retejoj, servoj, aŭ
  porteblaj aplikaoj de triapartioj, kiuj ne estas ligitaj kun ni. Ni ne povas
  garantii la sekurecon kaj privatecon de informoj, kiujn vi donas al ajna
  triapartio. Ajna informo kolektita de triapartioj ne estas regata de ĉi tiu
  regularo pri privateco. Ni ne respondecas pri la enhavo aŭ privateca kaj
  sekureca praktikoj kaj reguloj de ajna triapartio. Ni rekomendas, ke vi legu
  la regulojn de tiuj triapartioj kaj kontaktu ilin por respondo al viaj
  demandoj.</p>