---
title: Terms of Use
description: Terms of use for the website.
---
<h1>Terms of Use</h1>
<p><em>Last updated January 5, 2025</em></p>

<p>These Terms of Use apply to this website at {{ env.HTTP_HOST }} (the
  &ldquo;Site&rdquo;). By using the Site, you agree to comply with these Terms
  of Use.</p>

<p>We may amend these Terms of Use at any time. It is your responsibility to
  periodically review these Terms of Use to stay informed of updates. Your
  continued use of the Site following the posting of changes will mean that
  you accept the changes.</p>

<h2>Copyright</h2>
<p>All functionality, designs, text, photographs, and graphics on the Site
  (the &ldquo;Content&rdquo;) is protected by copyright and other
  intellectual property rights laws. No part of the Site and no Content may
  be copied, republished, distributed, publicly displayed, transmitted, sold,
  or otherwise exploited for any commercial purpose. Information provided on
  the Site is for personal, non-commercial use only.</p>

<h2>Prohibited Use</h2>
<p>By using this website, you represent that you are at least 18 or that you
  are the parent or guardian of such a minor and consent to such minor
  dependent&rsquo;s use of the website.</p>

<p>You may not access or use the Site for any purpose that is unlawful or in
  any way interferes with the proper working of the Site. This includes, but
  is not limited to:</p>

<ul>
  <li>Restricting other users from using the Site.</li>
  <li>Collecting information about other users.</li>
  <li>Presenting a false identity for the purpose of misleading other users.
    </li>
  <li>Accessing the Site through automated or non-human means, whether through
    a bot, script, or otherwise.</li>
</ul>

<p>We reserve the right to monitor the Site for violations of these Terms of
  Use and may take appropriate legal action against anyone who violates the
  law or these Terms of Use.</p>

<h2>Privacy</h2>
<p>By using the Site you consent to the collection, use, and disclosure of
  your personally identifiable information and aggregate data as set forth in
  our <a href="/privacy" title="Privacy Policy">Privacy Policy</a>. You also
  agree to have your personally identifiable information collected, used,
  transferred to, and processed in the United States.</p>

<h2>Availability of Service</h2>
<p>We reserve the right to update, suspend, discontinue, or otherwise modify
  the Site at any time without notice. We may delete any information you post
  to the Site at any time without notice. We reserve the right to, in our
  sole discretion and without notice, deny access to the Site (including
  blocking certain IP addresses) to any person. You agree that we have no
  liability for any inconvenience, loss, or damage caused by inability to use
  the Site.</p>

<h2>Disclaimer</h2>
<p>The Site is provided on an &ldquo;AS-IS&rdquo; and
  &ldquo;AS-AVAILABLE&rdquo; basis. To the fullest extent permitted by law,
  we disclaim all warranties, express or implied, in connection with the Site
  and your use thereof. We disclaim any and all liability for the acts,
  omissions, and conduct of any third parties in connection with or related to
  your use of the Site. You agree that your use of the Site will be at your
  sole risk.</p>
