
<div class="media">
  <div class="media-left">
    <figure class="image is-128x128">
      <img src="/img/companylogo.png">
    </figure>
  </div>
  <div class="media-content">
    <h1>Syracuse Esperanto Society</h1>
    <p>Syracuse, New York<br>
      <strong>website</strong>: <a href="https://www.syracuseesperanto.org">www.syracuseesperanto.org</a><br>
      <strong>email</strong>: <a href="mailto://mail@syracuseesperanto.org">mail@syracuseesperanto.org</a>
    </p>
  </div>
</div>

<div class="columns">
  <div class="column">
    <h2>Organization information</h2>
    <h3>Mission statement</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam.</p>
    <h3>Description</h3>
    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Aenean lacinia bibendum nulla sed commodo scelerisque
      nullam id diam vel quam elementum sit amet dolor auctor eu augue. Quisque
      pulvinar, tortor sed fermentum porttitor, est tellus malesuada risus, in
      egestas ante nunc id metus</p>
    <h2>Reviews</h2>
    <p>Would you recomend this organization?</p>
    <p></p>
  </div>
  <div class="column">
    <h2>Active Opportunties</h2>
    <p>This organization has no active Opportunties.</p>
    <p>Find volonteer opportunities from thousnds of organizations that need your help.</p>
  </div>
</div>
  