<div class="columns">
  <div class="column is-two-thirds">
    <h1>Help cats find new homes at store adoption centers</h1>
    <p><a href="">Esperanto Organization</a></p>
    <p>Lorem ipsum dolar sit amet, consectetur adipiscing elit. Donec erat aruc, fermentum eu dapibus sit amet,
      imperdiet id nulla.</p>
    <p>Vivamus sit amet leo vei dui ultrices venenatis. Sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <h2>About Esperanto Organization</h2>
    <h3>Mission statement</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam.</p>
    <h3>Description</h3>
    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Aenean lacinia bibendum nulla sed commodo scelerisque
      nullam id diam vel quam elementum sit amet dolor auctor eu augue. Quisque
      pulvinar, tortor sed fermentum porttitor, est tellus malesuada risus, in
      egestas ante nunc id metus</p>
  </div>
  <div class="column is-one-third">
    <div class="box">
      <h4>Cause areas</h4>
      <p>asdasd</p>
      <h4>When</h4>
      <p>asdasd</p>
      <h4>Where</h4>
      <p>asdasd</p>
      <h4>Date Posted</h4>
      <p>asdasd</p>
      <h4>Skills</h3>
        <p>asdasd</p>
        <h4>Requirements</h4>
        <p>asdasd</p>
    </div>
    <p class="is-danger">Report this opportunity</p>
  </div>
</div>