---
title: Uzokondiĉoj
description: Uzokondiĉoj por la retejo volontulo.net.
---
<h1>Uzokondiĉoj</h1>
<p><em>ĝisdatigita la 25-an de januaro 2025</em></p>

<p>Ĉi tiuj kondiĉoj koncernas la retejon ĉe volontulo.net. Uzo de la retejo
  signifas, ke vi konsentas observi ĉi tiujn kondiĉojn.</p>

<p>Ni rezervas al ni la rajton ŝanĝi ĉi tiujn kondiĉojn iam ajn. Vi estas mem
  respondeca pri regula kontrolado de ĉi tiuj kondiĉoj por resti informita pri
  ŝanĝoj. Via pluuzo de la retejo post la publikigo de ŝanĝoj signifas, ke vi
  akceptas tiujn ŝanĝojn.</p>

<h2>Kopirajtoj</h2>
<p>Ĉiu funkciaro, fasono, teksto, fotografoj, kaj grafikaĵoj de la retejo
  estas protektitaj de kopirajtoj kaj aliaj intelekt-propraĵaj leĝoj. Neniu
  parto de la retejo kaj ĝia enhavo povas esti reproduktita, republikigita,
  distribuita, publike prezentita, transsendita, vendita, aŭ alie ekspluatita
  por komerca celo. Informoj en la retejo estas provizitaj nur por persona,
  nekomerca uzo.</p>

<h2>Malpermesita uzo</h2>
<p>Uzante ĉi tiun retejon, vi atestas, ke vi estas almenaŭ 18-jaraĝa, aŭ ke vi
  estas respondeculo de la neplenaĝulo kaj vi konsentas pri ilia uzo de ĉi tiu
  retejo.</p>

<p>Vi ne rajtas aliri aŭ uzi la retejon por ajna celo, kiu estas kontraŭleĝa
  aŭ iamaniere malhelpas la bonan funkciadon de la retejo. Tio inkluzivas, sed
  ne estas limigita je:</p>

<ul>
  <li>Restrikti uzon de aliaj uzantoj de la retejo.</li>
  <li>Kolekti datumojn pri aliaj uzantoj.</li>
  <li>Prezenti falsan identecon por trompi aliajn uzantojn.</li>
  <li>Aliri la retejon pere de aŭtomataj aŭ ne-homaj metodoj, ĉu roboto,
    skripto, aŭ alia.</li>
</ul>

<p>Ni rezervas al ni la rajton monitori la Retejon por agoj kontraŭ ĉi tiuj
  Kondiĉoj kaj povas komenci proceson kontraŭ iu ajn, kiu agas kontraŭleĝe aŭ
  kontraŭ ĉi tiuj Kondiĉoj.</p>

<h2>Privateco</h2>
<p>Uzo de la retejo signifas, ke vi akceptas la kolektadon, uzadon, kaj
  malkaŝon de viaj person-identigeblaj informoj kaj kunmetitaj datumoj kiel
  priskribite en nia <a href="privateco" title="Politiko pri Privateco">Politiko
  pri privateco</a>. Vi ankaŭ akceptas, ke viaj person-identigeblaj informoj
  estu kolektitaj, uzitaj, transigitaj, kaj traktitaj en Usono.</p>

<h2>Disponebleco de servo</h2>
<p>Ni rezervas al ni la rajton ĝisdatigi, suspendi, ĉesigi, aŭ alie modifi la
  retejon iam ajn sen avizo. Ni rajtas forigi ajnan informon, kiun vi afiŝas
  en la retejon en ajna momento sen avizo. Ni rezervas al ni la rajton, laŭ
  nia bontrovo kaj sen avizo, bari iun ajn aliri kaj uzi la retejon (inkluzive
  bloki specifajn IP-adresojn). Vi konsentas, ke ni ne ŝuldiĝas pro ajna
  malfeliĉaĵo, perdo, aŭ damaĝo kaŭzita de malkapablo uzi la retejon.</p>

<h2>Malgarantio</h2>
<p>La retejo estas liverita telkele kaj kiel disponeble. Kiel eble plej
  permesite sub leĝoj, ni forrifuzas ĉiujn garantiojn, ĉu eksplicita ĉu
  implica, rilate al la retejo kaj via uzo de tiu. Ni forrifuzas ajnan
  respondecon por agoj, preterlasoj, kaj konduto de ajna triapartio en rilato
  al via uzo de la retejo. Vi akceptas, ke via uzo de la retejo estas sole
  via propra risko.</p>