<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{% if page.title %}{{ page.title }} | {% endif %}Website</title>
{% if page.description %}
<meta name="description" content="{{ description }}">
{% endif %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="robots" content="index,follow,noodp">

<link rel="shortcut icon" href="/favicon.ico?v=1">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">

<link rel="stylesheet" href="/css/styles.css">
