<aside class="menu">
    <p class="menu-label">Konto</p>
    <ul class="menu-list">
        <li><a {% if active=='konto' %}class="is-active" {% endif %} href="/konto/konto" title="Agordi konton">Agordi
                konton</a></li>
        <li><a {% if active=='pasvorto' %}class="is-active" {% endif %} href="/konto/pasvorto"
                title="Ŝanĝi pasvorton">Ŝanĝi pasvorton</a></li>
    </ul>
    <p class="menu-label">Profiloj</p>
    <ul class="menu-list">
        <li><a {% if active=='volontulo' %}class="is-active" {% endif %} href="/konto/volontulo"
                title="Profilo de volontulo">Volontulo</a></li>
        <li><a {% if active=='organizanto' %}class="is-active" {% endif %} href="/konto/organizanto"
                title="Profilo de organizanto">Organizanto</a></li>
    </ul>
</aside>