COMPOSE_PROJECT_NAME=feldspar

# CLI
CLI_USERNAME=vscode
CLI_UID=1000
CLI_GID=1000

# MailHog
MAILHOG_SMTP_PORT=1025
MAILHOG_HTTP_PORT=8025

# MySQL
MYSQL_VERSION=8.0
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root

# Nginx
NGINX_VERSION=1.26
NGINX_PORT=8080

# Node.js
NODE_VERSION=20.18

# PHP
PHP_VERSION=8.4

# Redis
REDIS_VERSION=7.4
REDIS_PORT=6379
