<p class="p">Ni sendis al vi ĉi tiun mesaĝon ĉar vi forgesis vian pasvorton. 
  Alklaku la ligilon por restarigi la pasvorton:</p>

<p class="p"><a class="reset-link" href="https://volontulo.net/pasvorto/restarigi/{{ token }}" 
    title="Reset password">https://volontulo.net/pasvorto/restarigi/{{ token }}</a></p>

<p class="p">La ligilo validas nur dum 20 minutoj.</p>

<p class="p">Se vi ne petis ĉi tiun mesaĝon, vi povas ignori ĝin. 
  Via pasvorto restos neŝanĝita.</p>

<p class="p">Ĉu problemoj aŭ demandoj? Kontaktu nin ĉe 
  <a href="mailto:helpo@volontulo.net">helpo@volontulo.net</a>.
</p>